<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Project</title>
</head>
<body>
<form method="post" action="#" th:action="@{/project/create}" th:object="${project}">
    <div class="form-group">
        <label for="projectName">Project name</label>
        <input type="text" th:field="*{name}" id="projectName" placeholder="Enter project name"/>
        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Created By</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody th:unless="${#lists.isEmpty(projects)}">
    <tr th:each="project: ${projects}">
        <td th:text="${project.name}"></td>
        <td th:text="${project.created}"></td>
        <td th:text="${project.status}"></td>
        <td><a th:href="@{'/project/info?project=' + ${project.name}}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
