<html xmlns:th="http://www.thymleaf.org">
<head>
    <title>Project</title>
</head>
<body>
<form method="post" action="#" th:action="@{/project/create}" th:object="${project}">
    <div class="form-group">
        <label for="projectName">Project name</label>
        <input type="text" th:field="*{name}" id="projectName" placeholder="Enter project name"/>
        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div th:replace="fragments/project :: project-list"></div>
</body>
</html>
